{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dahboard remote control</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/remote.css" %}">
    <link rel="stylesheet" href="{% static "css/dashboard-remote-font.css" %}">
  </head>
  <body>
    <div class="display-list">
      {% for channel in on_air %}
      <div class="display" id="display-{{ channel.name}}">
        <div class="header-display">
          <div class="name">{{ channel.name }}</div>
          <div class="actions">
            <div class="remove" data-value="{{ channel.name }}">
              <i class="link icon-cross"></i>
            </div>
          </div>
        </div>
        <div class="content-display">
          <input type="checkbox" id="channel-{{ channel.name}}" value="{{ channel.name }}" />
          <label class="selectable" for="channel-{{ channel.name}}"></label>
          <iframe src="{{ channel.url }}" id="frame-{{ channel.name }}"></iframe>
        </div>
      </div>
      {% empty %}
      <strong>Nessun canale disponibile</strong>
      {% endfor %}
    </div>
    <div class="controls">
      <div class="url-container">
        <div class="url-field">
          <div class="pre-text"> <span>http://</span></div>
          <input type="url" placeholder="ignora http://" name="url-field" id="url-field" />
        </div>
        {% csrf_token %}
        <button id="cast-button" disabled="disabled">Cast!</button>
      </div>
    </div>

    <div class="dimmer">
      <div class="popup" id="remove-channel">
        <div class="header"> 
          <div class="title">Conferma</div>
        </div>
        <div class="content"> 
          <div class="desc">Confermi di voler rimuovere il canale?</div>
        </div>
        <div class="actions">
          <button class="conf">Conferma</button>
          <button class="canc">Annulla</button>
        </div>
      </div>
    </div>

    <script src="{% static "js/simpleHttpClient.js" %}"></script>
    <script src="{% static "js/remote.js" %}"></script>
  </body>
</html>
