{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dahboard remote control</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/remote.css" %}">
  </head>
  <body>
    <div class="display-list">
      {% for channel in on_air %}
      <div class="display">
        <div class="name">{{ channel.name }}</div>
        <input type="checkbox" id="channel-{{ channel.name}}" value="{{ channel.name }}"/>
        <label class="selectable" for="channel-{{ channel.name}}"></label>
        <iframe src="{{ channel.url }}" id="frame-{{ channel.name }}"></iframe>
      </div>
      {% empty %}
      <strong>No channels casted</strong>
      {% endfor %}
    </div>
    <div class="controls">
      <div class="url-input">
        <input type="url" name="url-field" id="url-field"/><span class="prefix">http(s)://</span>
      </div>
      {% csrf_token %}
      <button id="cast-button">Cast!</button>
    </div>

    <script src="{% static "js/remote.js" %}"></script>
  </body>
</html>
