{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dahboard remote control</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/remote.css" %}">
  </head>
  <body>
    <div class="display-list">
      <div class="display">
        <div class="name">TV1</div>
        <iframe src="http://codepen.io/lfjsa/full/bVoxww/"></iframe>
      </div>
      <div class="display">
        <div class="name">TV2</div>
        <iframe src="http://codepen.io/lfjsa/full/bVoxww/"></iframe>
      </div>
      <div class="display">
        <div class="name">bathroom</div>
        <iframe src="http://codepen.io/lfjsa/full/bVoxww/"></iframe>
      </div>
    </div>
    <div class="controls">
      <div class="url-input">
        <input type="url"/><span class="prefix">http(s)://</span>
      </div>
      <select>
        <option checked="checked">- All -</option>
        <option>TV1</option>
        <option>TV2</option>
        <option>TV3</option>
      </select>
      <button>Cast!</button>
    </div>
  </body>
</html>
