@import url("https://fonts.googleapis.com/css?family=Raleway");
html {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #222;
}

body, html {
  min-width: 320px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.display-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.display-list .display {
  background-color: #c6d2eb;
  position: relative;
  overflow: hidden;
  border: 0.4rem solid #93afd7;
  margin: 1rem;
  border-radius: 5px;
}
.display-list .display .header-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5b7786;
  z-index: 3;
  font-size: 1rem;
  padding: 0.4rem;
}
.display-list .display .header-display .name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
}
.display-list .display .content-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 9rem;
  width: 16rem;
}
.display-list .display .content-display iframe {
  width: 300%;
  height: 300%;
  border: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0.333);
          transform: scale(0.333);
  position: absolute;
  top: 0;
  left: 0;
}
.display-list .display .content-display .selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: inherit;
  z-index: 2;
}
.display-list .display .content-display input:checked ~ .selectable {
  background: rgba(32, 49, 23, 0.3);
}
.display-list .display .content-display input {
  display: none;
}

/* INPUT URL STYLE */
.controls {
  background: #93afd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.controls .url-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  max-width: 800px;
}
.controls .url-container .url-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid gray;
  border-right: none;
  border-radius: 5px 0 0 5px;
  height: 3rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.controls .url-container .url-field .pre-text {
  height: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
}
.controls .url-container .url-field input {
  border: none;
  padding: 0 5px;
  width: 100%;
  min-width: 0;
}
.controls .url-container button {
  border: 1px solid gray;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.controls .url-container .url-field input, 
.controls .url-container .url-field span,
.controls .url-container button {
  font-size: 1.5rem;
}

/* POP UP STYLE */
.dimmer {
  z-index: 201;
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(34, 34, 34, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dimmer.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dimmer .popup {
  background: white;
  padding: 1rem 3rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}
.dimmer .popup.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dimmer .popup .header {
  background: #395b50;
  padding: 1rem;
  text-align: center;
}
.dimmer .popup .header .title {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.dimmer .popup .content {
  padding: 1.5rem 1rem;
}
.dimmer .popup .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.dimmer .popup .actions button {
  height: 2rem;
  margin-left: 0.4rem;
  font-size: 1rem;
  border: none;
  background: #c6d2eb;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 0.8rem;
}
